# ========================================
# Node.js / Express Backend .gitignore
# ========================================

# Entorno
/server/.env
.env.local
.env.*.local

# Dependencias
/server/node_modules/
/client/node_modules/
#Modulos
/server/package-lock.json
/client/package-lock.json
/server/.package-lock.json
# Logs
/server/logs/
